<plugin>
	<nom>Zen-Garden</nom>
	<slogan>
		<multi>
		[fr]Un jardin Zen pour Zpip
		[en]A Zen garden for Zpip
		</multi>
	</slogan>
	<auteur>Cedric Morin [yterium.com->http://www.yterium.com]</auteur>
	<version>1.0.5</version>
	<icon>img_pack/themes-128.png</icon>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Ce plugin vous permet de g&#233;rer une galerie de th&#232;mes pour votre site, et d'en changer tr&#232;s facilement parmi ceux disponibles. Il n&#233;cessite d’utiliser les squelettes Zpip ou Sarka-SPIP qui supportent les th&#232;mes.
		[en]This plugin lets you manage a gallery of themes for your site, and change easily among those available. It requires the use of the templates Zpip or Sarka-SPIP that support themes.
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/SPIP-Zen-Garden</lien>
	<options>zengarden_options.php</options>
	<pipeline>
		<nom>affichage_final</nom>
	</pipeline>
	<prefix>zengarden</prefix>
	<categorie>maintenance</categorie>
	<necessite id="SPIP" version="[2.0.10;2.0.99]" />
	<necessite id="spip_bonux" version="[1.8.7;]" />
	<chemin dir='' />
	<chemin dir='spip20' />
	
	<bouton id='theme' parent='configuration'>
		<titre>zengarden:themes</titre>
		<icone>img_pack/themes-24.png</icone>
		<url>zengarden</url>
	</bouton>
	<bouton id='theme21' parent='bando_squelette'>
		<titre>zengarden:themes</titre>
		<icone>images/themes-16.png</icone>
		<url>zengarden</url>
	</bouton>

</plugin>
<plugin spip="[2.1.0;3.0.99]">
	<nom>Zen-Garden</nom>
	<slogan>
		<multi>
		[fr]Un jardin Zen pour Zpip
		[en]A Zen garden for Zpip
		</multi>
	</slogan>
	<auteur>Cedric Morin [yterium.com->http://www.yterium.com]</auteur>
	<version>1.1.3</version>
	<icon>img_pack/themes-128.png</icon>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Ce plugin vous permet de g&#233;rer une galerie de th&#232;mes pour votre site, et d'en changer tr&#232;s facilement parmi ceux disponibles. Il n&#233;cessite d’utiliser les squelettes Zpip ou Sarka-SPIP qui supportent les th&#232;mes.
		[en]This plugin lets you manage a gallery of themes for your site, and change easily among those available. It requires the use of the templates Zpip or Sarka-SPIP that support themes.
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/SPIP-Zen-Garden</lien>
	<options>zengarden_options.php</options>
	<prefix>zengarden</prefix>
	<categorie>maintenance</categorie>
	<pipeline>
		<nom>affichage_final</nom>
	</pipeline>
	<necessite id="spip_bonux" version="[1.8.7;]" />
	
	<bouton id='theme' parent='configuration'>
		<titre>zengarden:themes</titre>
		<icone>img_pack/themes-24.png</icone>
		<url>zengarden</url>
	</bouton>
	<bouton id='theme21' parent='bando_squelette'>
		<titre>zengarden:themes</titre>
		<icone>images/themes-16.png</icone>
		<url>zengarden</url>
	</bouton>
</plugin>