<plugin>
	<nom><multi>[fr]Menus[de]Men&#252;s[en]Menus[it]Men&#249;</multi></nom>
	<slogan>
		<multi>
			[fr]Cr&#233;ez vos menus personnalis&#233;s.
			[de]Men&#252;s bequem im Redaktionssystem gestalten.
			[en]Create your own custom menus.
			[it]Crea i tuoi men&#249; in redazione.
		</multi>
	</slogan>
	<auteur>RastaPopoulos</auteur>
	<licence>GPL v3</licence>
	<version>0.9.3</version>
	<version_base>0.5.0</version_base>
	<etat>test</etat>
	<description>
		<multi>
			[fr]Lorsqu'on ne se sert pas du plugin {{Menus}}, on est oblig&#233; de d&#233;finir tous ses menus dans les squelettes, ce qui fait que les administrateurs du site n'ont pas directement la main dessus et que lorsqu'ils veulent y changer quelque chose, ils sont oblig&#233;s d'en faire la demande &#224; la personne en charge des squelettes. De plus, lorsqu'on veut des liens statiques (un lien vers un article pr&#233;cis, ou vers une page pr&#233;cise, ou vers un site externe) il faut les &#233;crire en dur dans le squelette du menu.

Le but du plugin {{Menus}} est donc de permettre de facilement &#233;laborer des menus au moyen d'une interface conviviale, directement dans la partie priv&#233;e.

{{Attention !}} Ce plugin ne s'occupe pas de la mani&#232;re dont seront affich&#233;s les menus. Il permet de les cr&#233;er facilement et d'en g&#233;n&#233;rer le code HTML.
			[de]Men&#252;s bequem im Redaktionssystem gestalten.
			[en]Create your own custom menus.
			[it]Crea i tuoi men&#249; in redazione.
		</multi>
	</description>
	<lien>http://www.spip-contrib.net/Plugin-Menus</lien>
	<icon>images/menus-48.png</icon>
	<prefix>menus</prefix>
	
	<fonctions>menus_fonctions.php</fonctions>
	<options>menus_options.php</options>
	
	<install>menus_administrations.php</install>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/menus_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/menus_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>header_prive</nom>
		<inclure>menus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>pre_boucle</nom>
		<inclure>menus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>inc/menus_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ieconfig</nom>
		<inclure>menus_ieconfig.php</inclure>
	</pipeline>
	<pipeline>
		<nom>menus_lister_disponibles</nom>
		<inclure>menus_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_url_objets</nom>
		<inclure>menus_pipelines.php</inclure>
	</pipeline>
	
	<bouton id='menus_tous' parent="naviguer">
		<titre>menus:editer_menus_titre</titre>
		<icone>images/menus-24.png</icone>
	</bouton>
	<bouton id='bando_menus_tous' parent="bando_squelette">
		<url>menus_tous</url>
		<titre>menus:editer_menus_titre</titre>
		<icone>images/menus-16.png</icone>
	</bouton>
	
	<categorie>navigation</categorie>
	<necessite id="SPIP" version="[2.0.9;3.0.99]" />
	<necessite id="spip_bonux" version="[1.8.10;]" />
	<utilise id="Z" />
	<traduire gestionnaire="salvatore" module="menus" reference="fr" />
</plugin>
