/*======= index-1.html =======*/
#page2 #content .col-1 {width:493px; margin-right:101px;}
#page2 #content .col-2 { width:264px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:209px; margin-right:21px;}
#page3 #content .col-2 {width:209px; margin-right:21px;}
#page3 #content .col-3 {width:209px; margin-right:21px;}
#page3 #content .col-4 {width:209px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:434px; margin-right:60px;}
#page5 #content .col-1 .col-1 { width:197px; margin-right:38px;}
#page5 #content .col-1 .col-2 { width:197px;}
#page5 #content .col-2 { width:406px;}
#page5 #content .col-2 .col-1 { width:183px; margin:0;}
#page5 #content .col-2 .col-2 { width:223px;}


/*=========================*/


